<launch>
	<!-- <include file="$(find skeletontracker_nu)/launch/nu_skeletontracker.launch"/> -->
	
	<!-- <node name="" pkg="" type="" args="" respawn="true" /> -->

	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1.28 0.10 0.19 0 0 0 base camera_link 100" />

	<include file="$(find baxter_moveit_config)/launch/planning_context.launch">
	  <arg name="load_robot_description" value="true"/>
	</include>

	<include file="$(find baxter_moveit_config)/launch/move_group.launch">
	  <arg name="allow_trajectory_execution" value="true"/>
	</include>

	<rosparam param="img_files_filename">'/home/nxr-baxter/groovyws/src/nxr_baxter/images/image_files.txt'</rosparam>
	
	<node pkg="nxr_baxter" type="meta_mode_controller.py" name="meta_mode" output="screen" respawn="true" />

	<node pkg="nxr_baxter" type="tracker_heartbeat.py" name="skel_tracker_heartbeat" output="screen" respawn="true" />

	<node pkg="nxr_baxter" type="baxter_controller.py" name="bax_controller" output="screen" respawn="true" />

	<!-- <node pkg="nxr_baxter" type="moveit_interface.py" name="moveit_interface" output="screen" respawn="true" launch-prefix="xterm -e " args=" > /home/adam/ros_log_4_15 "/> -->


</launch>
