<launch>

	<include file="$(find skeletontracker_nu)/launch/nu_skeletontracker.launch"/>

	<rosparam param="img_files_filename">'/home/nxr-baxter/groovyws/src/nxr_baxter/images/image_files.txt'</rosparam>

	<node pkg="nxr_baxter" type="baxter_controller.py" name="bax_controller" output="screen" respawn="true" />

</launch>